<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Błąd - Cube Chrono</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Błąd</h1>
</header>
<main>
    <h2>Strona nieznaleziona :(</h2>
    <p>Zasób, który próbujesz zobaczyć nie jest dostępny</p>
    <a href="/" class="button">Powrót do strony głównej</a>
</main>
</body>
</html>
