<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja - Cube Chrono</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Rejestracja</h1>
    </header>
    <main>
        <form action="#" method="POST" class="form" id="register-form">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="username">Nazwa Użytkownika:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirm-password">Potwierdź Hasło:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
            
            <button type="submit">Zarejestruj się</button>
        </form>
        <p>Masz już konto? <a href="/login">Zaloguj się tutaj</a>.</p>
    </main>
    <footer>
        <p>&copy; 2024 Cube Chrono</p>
    </footer>
    <script>
        document.getElementById('register-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (password !== confirmPassword) {
                alert('Hasła nie są zgodne!');
            } else {             
                const data = {
                    username: username,
                    password: password,
                };
                
                try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                });

                const result = await response.json();

                if (result.message !== "User already exists") {
                    alert(`Pomyślnie utworzono użytkownika: ${username}`);
                    window.location.href = '/login';
                } else {
                    alert('Użytkownik o takich danych już istnieje!');
                }
            } catch (error) {
                console.error('Błąd połączenia:', error);
                alert('Wystąpił błąd połączenia z serwerem.');
            }
            }
        });
    </script>
</body>
</html>
